@model CS3750TechnicalPrototypes.Models.Item

@{
	ViewData["Title"] = "Item Details";

	string UserEmail = Context.Session.GetString("UserEmail");
	string RoleName = Context.Session.GetString("RoleName");
	int? RoleId = Context.Session.GetInt32("RoleId");
	bool IsPrivelegedUser = (RoleName == "Administrator" || RoleName == "OfficeWorker");
}

<h2>Details</h2>
<h4>Item</h4>
<hr />

<div class="row">
	@if (IsPrivelegedUser)
	{
		<div>
			<a asp-action="Edit" asp-route-id="@Model.ItemId" class="btn btn-success">Edit</a>
			<a asp-action="Index" class="btn btn-primary">Back to List</a>
		</div>
	}
	else
	{
		<a asp-action="Index" class="btn btn-primary">Back to List</a>
	}
	<br />
</div>

<div class="row">
	<div class="col-md-4">
		<img src="~/images/defaultimage.jpg" />
		@*<img src="http://static.asiawebdirect.com/m/bangkok/hotels/huahin-bangkok-com/hilton-resort/rooms/pageContent/02/highlightedBox/02/image.jpg" alt="Vacation" width="350" height="350" />*@
	</div>
	<div class="col-md-8">
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.Sponsor.sponsorID)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Sponsor.sponsorID)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.ItemName)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.ItemName)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.ItemDescription)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.ItemDescription)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.ItemValue)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.ItemValue)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.OpeningBid)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.OpeningBid)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.BidIncrement)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.BidIncrement)
			</dd>
		</dl>
	</div>
</div>
