@model IEnumerable<CS3750TechnicalPrototypes.Models.Auction>

@{
	ViewData["Title"] = "Index";
   // Layout = "Carousel";    

	string UserEmail = Context.Session.GetString("UserEmail");
	string RoleName = Context.Session.GetString("RoleName");
	int? RoleId = Context.Session.GetInt32("RoleId");
	bool IsPrivelegedUser = (RoleName == "Administrator" || RoleName == "OfficeWorker");
}

<h2>Auction Page</h2>

@if (IsPrivelegedUser)
{
	<p>
		<a asp-action="Create">Create New</a>
	</p>
}

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.ActionLink("AuctionName", "Index", new { sortOrder = ViewBag.NameSortParm })
                @* @Html.DisplayNameFor(model => model.AuctionName)*@
            </th>
            <th>
                @Html.ActionLink("Start Date", "Index", new { sortOrder = ViewBag.DateSortParm })
                @*@Html.DisplayNameFor(model => model.StartDate)*@
            </th>
            <th>
                @Html.ActionLink("End Date", "Index", new { sortOrder = ViewBag.EndDateSortParm })
                @*@Html.DisplayNameFor(model => model.EndDate)*@
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>

            

			@if (IsPrivelegedUser)
			{
				<td>
					<a asp-action="Edit" asp-route-id="@item.AuctionId">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.AuctionId">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.AuctionId">Delete</a>
				</td>
			} else
			{
				<td>
					<a asp-action="Details" asp-route-id="@item.AuctionId" class="btn btn-primary">View Auction Details</a>
				</td>

			}

        </tr>
}
    </tbody>
</table>
