@model IEnumerable<CS3750TechnicalPrototypes.Models.Auction>

@{
    ViewData["Title"] = "Index";
    // Layout = "Carousel";

    string UserEmail = Context.Session.GetString("UserEmail");
    string RoleName = Context.Session.GetString("RoleName");
    int? RoleId = Context.Session.GetInt32("RoleId");
    bool IsPrivelegedUser = (RoleName == "Administrator" || RoleName == "OfficeWorker");
    var CurrentTime = DateTime.Now;
}

<div class="row text-center"><h2>All Auctions</h2></div>

<div class="row">
    <p>
        <a asp-action="ViewActiveAuctions" asp-controller="BidHistories" class="btn btn-success">View Only Current Auctions</a>
        @if (IsPrivelegedUser)
        {
            <a asp-action="Create" class="btn btn-info">Create New</a>
        }
    </p>
    <hr />
</div>
        

        @using (Html.BeginForm())
        {
            <p>
                Find by name: @Html.TextBox("SearchString")
                <input type="submit" value="Search" />
            </p>
        }

        <table class="table">
            <thead>
                <tr>

                    <th>
                        @Html.ActionLink("Auction Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                        @* @Html.DisplayNameFor(model => model.AuctionName)*@
                    </th>
                    <th>
                        @Html.ActionLink("Start Date", "Index", new { sortOrder = ViewBag.DateSortParm })
                        @*@Html.DisplayNameFor(model => model.StartDate)*@
                    </th>
                    <th>
                        @Html.ActionLink("End Date", "Index", new { sortOrder = ViewBag.EndDateSortParm })
                        @*@Html.DisplayNameFor(model => model.EndDate)*@
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuctionName)
                            @if(item.StartDate <= CurrentTime && item.EndDate > CurrentTime)
                            {
                                <label class="label label-success">Open for Bidding!</label>
                            }
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.StartDate)*@
                            @item.StartDate.ToString("dd MMMM yyyy ")
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.EndDate)*@
                            @item.EndDate.ToString("dd MMMM yyyy ")
                        </td>

                        @if (IsPrivelegedUser)
                        {
                            <td>
                                <a asp-action="Index" asp-controller="BidHistories" asp-route-id="@item.AuctionId" class="btn btn-success">View Auction</a>
                                <div class="btn-group">
                                    <a asp-action="Edit" asp-route-id="@item.AuctionId" class="btn btn-primary">Edit</a>
                                    <a asp-action="Details" asp-route-id="@item.AuctionId" class="btn btn-primary">Details</a>
                                    <a asp-action="Delete" asp-route-id="@item.AuctionId" class="btn btn-danger">Delete</a>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div class="btn-group">
                                    <a asp-action="Index" asp-controller="BidHistories" asp-route-id="@item.AuctionId" class="btn btn-success">View Auction</a>
                                    <a asp-action="Details" asp-route-id="@item.AuctionId" class="btn btn-primary">View Details</a>
                                </div>
                            </td>

                        }
                    </tr>
                }
            </tbody>
        </table>
