@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using Microsoft.AspNetCore.Http;

@{ 
	string UserEmail = Context.Session.GetString("UserEmail");
	string RoleName = Context.Session.GetString("RoleName");
	int? RoleId = Context.Session.GetInt32("RoleId");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cornbread Mafia Software</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
        <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="~/css/owl.carousel.css" rel="stylesheet" />
        <link href="~/css/owl.theme.default.css" rel="stylesheet" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Auction" asp-action="Index" class="navbar-brand">Cornbread Mafia Software</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li><a asp-area="" asp-controller="Auction" asp-action="Index">Auction</a></li>
                        <li><a asp-area="" asp-controller="Items" asp-action="Index">Items</a></li>
                        <li><a asp-area="" asp-controller="BidHistories" asp-action="Index">Bid</a></li>*@

					@if (RoleName == "Administrator" || RoleName == "OfficeWorker")
					{
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a asp-area="" asp-controller="Auction" asp-action="Index">Create Auction</a></li>
								<li><a asp-area="" asp-controller="Items" asp-action="Index">Create Item</a></li>
								<li><a href="#">More pages go here!</a></li>
								@*<li role="separator" class="divider"></li>*@
							</ul>
						</li>
					}
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="BidHistories" asp-action="ViewActiveAuctions">View Current Auctions</a></li>
                            <li><a asp-area="" asp-controller="BidHistories" asp-action="ViewBidHistory">View User Bid History</a></li>
                            <li><a href="#">More pages go here!</a></li>
                            @*<li role="separator" class="divider"></li>*@
                        </ul>
                    </li>
                </ul>

				<div class="navbar-right">
					@if (Context.Session.GetString("LoggedIn") != "true" || RoleId == null)
					{
						<ul class="nav navbar-nav">
							<li><a asp-action="Login" asp-controller="Users">Login</a></li>
						</ul>
						<ul class="nav navbar-nav">
							<li><a asp-action="Create" asp-controller="Users">Register</a></li>
						</ul>
					}
					else
					{
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@UserEmail<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a>Role: @RoleName (@RoleId)</a></li>
									<li><a asp-action="Logout" asp-controller="Users">Logout</a></li>
								</ul>
							</li>
						</ul>
					}
			</div>

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
     @*   <footer>

            <script src="~/js/owl.carousel.js"></script>
    


            <!-- Set up your HTML -->
            <div class="owl-carousel">
                <div> Pic 1 </div>
                <div> Pic 2 </div>
                <div> Pic 3 </div>
                <div> Pic 4 </div>
                <div> Pic 5 </div>
                <div> Pic 6 </div>
                <div> Pic 7 </div>
            </div>

            @*<script type="text/javascript">
                            $(document).ready(function () {
                                $(".owl-carousel").owlCarousel();
                            });
            </script>

            <script type="text/javascript">
                var owl = $('.owl-carousel');
                owl.owlCarousel({
                    items: 5,
                    loop: true,
                    margin: 10,
                    autoplay: true,
                    autoplayTimeout: 3000,
                    autoplayHoverPause: true
                });
            </script>


            <p>&copy; 2017 - CS3750_TechnicalPrototypes</p>
        </footer>*@
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/owl.carousel.js"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/owl.carousel.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
