@model CS3750TechnicalPrototypes.Models.BidHistory

@{
	ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
	<h4>BidHistory</h4>
	<hr />
	<div>
		<a asp-action="Edit" asp-route-id="@Model.BidHistoryId">Edit</a> |
		<a asp-action="Index">Back to List</a>
	</div>

	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.BidDate)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.BidDate)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.BidAmount)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.BidAmount)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.ItemId)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ItemId)
		</dd>
	</dl>
</div>
