@model IEnumerable<CS3750TechnicalPrototypes.Models.BidHistory>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BidDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BidAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemId)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BidDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BidHistoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BidHistoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BidHistoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
