<!--Page containing all the currently selected auctions individual items. Each auction can have more than one item-->


@model CS3750TechnicalPrototypes.Models.ViewModels.AuctionItem

@{
    ViewData["Title"] = "Index";
    Layout = "Carousel";

    string UserEmail = Context.Session.GetString("UserEmail");
    string RoleName = Context.Session.GetString("RoleName");
    int? RoleId = Context.Session.GetInt32("RoleId");
    bool IsPrivelegedUser = (RoleName == "Administrator" || RoleName == "OfficeWorker");

    string FormattedDateString = Model.Auction.EndDate.ToString("d MMM yyyy HH:mm:ss"); @*Pre-format the date for use in the countdown.*@
}

<div class="container">
    <div class="row text-center">
        <h2>Welcome to the @Model.Auction.AuctionName Auction</h2>
        <div class="col-lg-12 col-md-12 text-center">
            <div class="row">
                <h4><u>Time Remaining to Place a Bid</u></h4>
                <h4 id="countdown"></h4>
                <script>
                    var countDownDate = new Date("@FormattedDateString").getTime(); /* FormattedDateString needs to be wrapped in double quotes. */
                    var x = setInterval(function () {
                    var now = new Date().getTime();
                    var remainder = countDownDate - now;
                    var days = Math.floor(remainder / (1000 * 60 * 60 * 24)); /* 1000ms = 1 second, 60s in 1 min, 60 min in one hour, 24 hours in one day */
                    var hours = Math.floor((remainder % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)); /* Ms in a day / Ms in an hour */
                    var minutes = Math.floor((remainder % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((remainder % (1000 * 60)) / 1000);
                    document.getElementById("countdown").innerHTML = days + " Days&emsp;" + hours + " Hours&emsp;" + minutes + " Minutes&emsp;" + seconds + " Seconds";
                        if (remainder < 0)
                        {
                            clearInterval(x);
                            document.getElementById("countdown").innerHTML = "";
                        }
                    }, 1000);
                </script>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
        <hr />
    </div>
</div>

@using (Html.BeginForm())
{
    <p>
        <div class="col-lg-12 text-right">
            Find Auction: @Html.TextBox("SearchString")
            <input type="submit" value="Search" height="30" />
        </div>
    </p>
}

<table class="table" >
    <thead>
        <tr>
            @if (IsPrivelegedUser)
            {
                <th>

                    @Html.DisplayNameFor(model => model.Items.ElementAt(0).Item.ItemId)
                </th>
            }
            <th>Image</th>
            <th>
                @Html.ActionLink("Item", "Index", new { sortOrder = ViewBag.NameSortParm })
                @*@Html.DisplayNameFor(model => model.Items.ElementAt(0).Item.ItemName)*@
            </th>
            <th>
                @Html.ActionLink("Current Bid", "Index", new { sortOrder = ViewBag.BidSortParm })
                @*@Html.DisplayNameFor(model => model.Items.ElementAt(0).highestBid)*@
            </th>
            <th>Real Value</th>
            @if (IsPrivelegedUser)
            {
                <th>
                    @*Bid Administration*@
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                @if (IsPrivelegedUser)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.ItemId)
                    </td>
                }
                <td>
                    @if (item.Media.Count() > 0)
                    {
                        <img src="@item.Media.ElementAt(0).MediaPath" width="75" height="75" />
                    }
                </td>
                <td style="width:60%">
                    @Html.DisplayFor(modelItem => item.Item.ItemName)
                    <p>

                        @{
                            var collapseDesc = "collapseDesc" + item.Item.ItemId;
                        }
                        <a data-toggle="collapse" href="#@collapseDesc" aria-expanded="false" aria-controls="@collapseDesc">
                            View Details
                        </a>

               
                        <div class="collapse" id="@collapseDesc">
                            <div class="card card-block">
                                @Html.DisplayFor(modelItem => item.Item.ItemDescription)
                            </div>
                        </div>
                    </p>
                </td>
                <td>
                    <div class="container">
                        <div class="row header text-center">
                            @Html.DisplayFor(modelItem => item.highestBid)
                        </div>
                    </div>
                </td>
                <td>
                    <div class="container">
                        <div class="row header text-center">
                            @Html.DisplayFor(modelItem => item.Item.ItemValue)
                        </div>
                    </div>
                </td>
                <td>
                    <a asp-action="Create" asp-route-ItemId="@item.Item.ItemId" asp-route-AuctionId="@item.Item.AuctionId" class="btn btn-primary">Enter Bid</a>

                    @if (IsPrivelegedUser)
                    {
                        <a asp-action="BidsByAuction" class="btn btn-info">All Bids</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Launch demo modal
    </button>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input class="form-control" />
                        </div>
                        <div class="form-group">
                          <input class="form-control" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>*@
