@model IEnumerable<CS3750TechnicalPrototypes.Models.Auction>

@{
    ViewData["Title"] = "ViewActiveAuctions";
}

<h2>ViewActiveAuctions</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AuctionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.EventId)*@
                </th>
                <th>
                   @* @Html.DisplayNameFor(model => model.ItemID)*@
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.EventId)*@
            </td>
            <td>
            @*    @Html.DisplayFor(modelItem => item.ItemID)*@
            </td>
            <td>
                <a value="View Auction" asp-action="Index" asp-route-id="@item.AuctionId">View Auction</a>
                @*<a asp-action="Details" asp-route-id="@item.AuctionId">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.AuctionId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
